$primarycolor1: hsl(259, 100%, 65%);
$primarycolor2: hsl(0, 100%, 67%);
$White: hsl(0, 0%, 100%);
$Off_white: hsl(0, 0%, 94%);
$Light_grey: hsl(0, 0%, 86%);
$Smokey_grey: hsl(0, 1%, 44%);
$Off_black: hsl(0, 0%, 8%);

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin media-mobile {
    @media screen and (max-width: 450px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (max-width: 750px) {
        @content;
    }
}

