@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 94%);
  font-family: poppins, Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  transform: translateY(120px);
  margin: auto;
  background-color: hsl(0, 0%, 100%);
  width: 700px;
  height: 525px;
  padding: 50px;
  border-radius: 1.05rem 1.05rem 8rem 1.05rem;
  transition: all 0.5s ease-in-out;
}
.container__input {
  display: flex;
  transition: all 0.5s ease-in-out;
}
.container__input label {
  display: block;
  font-size: 0.75rem;
  color: hsl(0, 1%, 44%);
  letter-spacing: 0.2rem;
  transition: all 0.5s ease-in-out;
}
.container__input .field {
  height: 55px;
  width: 130px;
  padding-left: 20px;
  margin: 5.5px 30px 3px 0;
  font-size: 26px;
  font-weight: 700;
  border-radius: 0.3rem;
  border-color: hsl(0, 0%, 86%);
  border-style: solid;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.container__divider {
  width: 100%;
  height: 1px;
  background-color: hsl(0, 0%, 86%);
  margin: 2.2rem 0;
  transition: all 0.5s ease-in-out;
}
.container__divider__btn {
  position: relative;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  top: -33px;
  left: 90%;
  border: none;
  background-color: hsl(259, 100%, 65%);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.container__divider__btn img {
  width: 40px;
  transition: all 0.5s ease-in-out;
}
.container__divider__btn:active {
  background-color: hsl(0, 0%, 8%);
}
.container__divider__btn:hover {
  background-color: hsl(0, 0%, 8%);
}
.container__result {
  font-size: 2.6rem;
  font-weight: 900;
  font-style: italic;
  line-height: 5.8rem;
  transition: all 0.5s ease-in-out;
}
.container__result .result {
  color: hsl(259, 100%, 65%);
}

.error {
  color: hsl(0, 100%, 67%) !important;
  border-color: hsl(0, 100%, 67%) !important;
}

.remark {
  font-style: italic;
  font-size: 0.65rem;
  color: hsl(0, 100%, 67%);
}

@media screen and (max-width: 750px) {
  .container {
    transform: translateY(88px);
    width: 90%;
    height: 490px;
    padding: 40px 20px;
    border-bottom-right-radius: 6rem;
  }
  .container__input {
    justify-content: space-between;
  }
  .container__input .field {
    width: 23vw;
  }
  .container__divider {
    margin: 3.67rem 0;
  }
  .container__divider__btn {
    height: 65px;
    width: 65px;
    left: 40%;
  }
  .container__divider__btn img {
    width: 26px;
  }
  .container__result {
    font-size: 2rem;
    line-height: 4rem;
  }
  .attribution {
    visibility: hidden;
  }
}
@media screen and (max-width: 450px) {
  .container {
    transform: translateY(88px);
    width: 90%;
    height: 450px;
    padding: 40px 20px;
    border-bottom-right-radius: 6rem;
  }
  .container__input {
    justify-content: space-between;
  }
  .container__input .field {
    width: 90%;
    height: 3rem;
    margin-right: 15px;
    font-size: 20px;
    padding: 0;
    text-align: center;
  }
  .container__divider {
    margin: 3.67rem 0;
  }
  .container__divider__btn {
    height: 60px;
    width: 60px;
    left: 40%;
  }
  .container__divider__btn img {
    width: 25px;
  }
  .container__result {
    font-size: 7lvw;
    line-height: 13vw;
  }
  .attribution {
    visibility: hidden;
  }
}/*# sourceMappingURL=main.css.map */